.Header {
    font-family: 'Kaisei HarunoUmi', serif; 
   
}

    
  
.Header li {
    display: inline;
    margin-left: 40px;
    font-size: 30px;
   
   
  }
  
  .Header a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  .Header a.active {
    border-bottom: 2px solid blue;
  }
    
  