.Registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border: 1px solid green;
}

.Registration p {
  font-size: 22px;
}

.invalid {
  color: red;
}
